{% extends "base/base.html" %}

{% block body %}

<FORM class="text-center">
    <h1>Zelda</h1>
    <TEXTAREA name="nom" rows=20 cols=60>Valeur par défaut
    </TEXTAREA>

</FORM>

<!-- <FORM class="d-flex justify-content-around" class="text-center">
    <h1>Beta</h1>
    <TEXTAREA name="nom" rows=20 cols=60>Valeur par défaut
    </TEXTAREA>
</FORM>

<FORM class="d-flex justify-content-around" class="text-right">
    <h1>Gamma</h1>
    <TEXTAREA name="nom" rows=20 cols=60>Valeur par défaut
    </TEXTAREA>
</FORM> -->



{% endblock %}