{% extends "base/base.html" %}

{% block body %}
{% load static %}



<h1 class="text-center">Les candidats les plus proches du theme choisi</h1>




<div class="card align-items-center">
   

        <div class="col-md-12 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="form-group form-group-alt">
                        <input type="text" class="form-control" placeholder="Veuiller saisir le thème">
                    </div>
                    <div class="text-center">                
                        <button type="button" class="btn btn-primary">Envoyer</button>
                    </div>

                </div>
            </div>
        </div>


  
</div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card bg-soft-primary">
                <div class="card-body">
                    <div class="d-flex flex-column">
                        <div class="mb-3">

                            <!-- <span class="text-primary">Status</span> -->
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- vue:js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<!-- axios:js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
    var parametre = new Vue({
        delimiters: ['[[', ']]'],
        el: '#Analyse',
        data() {
                return {
                    results:{},
                    results2:{},
                    nearest_themes:{},
                    nearest_candidates:{},
                }
        },
        async mounted() {
            await this.getresults()
            await this.getResults2()
            await this.getnearest_themes()
            await this.getnearest_candidates()
        },
        
        created() {
                setInterval(this.getresults, 1000);
                setInterval(this.getResults2, 1000);
                setInterval(this.getnearest_themes, 1000);
                setInterval(this.getnearest_candidates, 1000);
            },

            
        methods: {
            getresults: async function () {
                await axios
                    .get('http://127.0.0.1:8080/api/results')
                    .then(response => (this.results = response.data))
                    .catch(response => (console.log(response.data)));
                    
            },

            getResults2: async function () {
                await axios
                    .get('http://127.0.0.1:8080/api/results')
                    .then(response => (this.results2 = response.data))
                    .catch(response => (console.log(response.data)));
            },

            getnearest_themes: async function () {
                await axios
                    .get('http://127.0.0.1:8080/api/nearest_theme?theme=SMIC')
                    .then(response => (this.nearest_themes = response.data))
                    .catch(response => (console.log(response.data)));


            },

            getnearest_candidates: async function () {
                await axios
                    .get('http://127.0.0.1:8080/api/nearest_candidates?theme=SMIC')
                    .then(response => (this.nearest_candidates = response.data))
                    .catch(response => (console.log(response.data)));


            },
        }
    });

</script>


{% endblock %}