{% extends "base/base.html" %}

{% block body %}
{% load static %}

<div id="Election">

    <div class="row">
        <nav aria-label="breadcrumb" class="d-flex justify-content-between">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Accueil</li>
                
            </ol>
            <p class="breadcrumb-item active" aria-current="page" style="font-style: italic;">[[actualTime]]</p>
        </nav> 
    </div>
    <div class="row pb-5 mt-0">
        <p class="h1 d-flex justify-content-center">Election disponible</p>

        <p class="h6 d-flex justify-content-center">Selectionner une élection</p>
    </div>
    <div class="row">
        <p><em>Elections en cours</em></p>
        <div v-for="election in elections" v-if="(actualTime > election.ElectionStartDate && election.ElectionEndDate > actualTime)" class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                            <div class="fs-italic">
                                <h5>[[election.ElectionName]]</h5>
                            </div>	
                            <div class="mt-3 text-center text-muted-50">
                                <p style="color:red;">[[actualTime]]</p>
                            </div>
                            <a href="/vote"><button type="button" class="btn btn-soft-primary">Choisir</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <hr>
    <div class="row">
        <p><em>Mes prochaines élections</em></p>
        <div v-for="election in elections" v-if="election.ElectionStartDate>actualTime" class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                            <div class="fs-italic">
                                <h5>[[election.ElectionName]]</h5>
                            </div>	
                            <div class="mt-3 text-center text-muted-50">
                                <p style="color:red;">Démarre le : [[election.ElectionStartDate]]</p>
                            </div>
                            <button type="button" class="btn btn-soft-light" disabled>Non Disponible</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <hr>
    <div class="row">
        <p><em>Mes anciennes élections</em></p>
        <div v-for="election in elections" v-if="actualTime>election.ElectionEndDate" class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                            <div class="fs-italic">
                                <h5>[[election.ElectionName]]</h5>
                            </div>	
                            <div class="mt-3 text-center text-muted-50">
                                <p style="color:red;" >Terminé depuis le : [[election.ElectionEndDate]]</p>
                            </div>
                            <button type="button" class="btn btn-soft-light" disabled>Non Disponible</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                            <div class="fs-italic">
                                <h5>Présidentiel 2018 - 1er tour</h5>
                            </div>	
                            <div class="mt-3 text-center text-muted-50">
                                <p>Terminé le 01/01/2018</p>
                            </div>
                            <button type="button" class="btn btn-soft-light" disabled>Non Disponible</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div> 
</div>
<!-- vue:js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
<!-- axios:js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    var parametre = new Vue({
        delimiters: ['[[', ']]'],
        el: '#Election',
        data() {
                return {
                    actualTime:"",
                    elections:{}
                }
        },
        async mounted() {
            await this.getElections()
            
        },
        created() {
                setInterval(this.currentDate, 1000);
            },

        methods: {
            getElections: async function () {
                await axios
                    .get('/adminspace/api/getElections')
                    .then(response => (this.elections = response.data))
                    .catch(response => (console.log(response.data)));
                    
            },

            currentDate: function() {
                const today = new Date();
                    const year = today.getFullYear();
                    const month = today.getMonth()+1;
                    const day = ('0'+today.getDate()).slice(-2);
                    const hour = ('0'+today.getHours()).slice(-2);
                    const minute = ('0'+today.getMinutes()).slice(-2);
                    const second = ('0'+today.getSeconds()).slice(-2);
                    // const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    // const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate());
                    const dateTime = year +'-'+ month+'-'+day+'T'+hour+':'+minute+':'+second+'Z'; 
                
                    // this.dateTime = moment(dateTime).format('YYYY-MM-DD[T]HH:mm:ss[Z]');
                    this.actualTime = dateTime;
                },
            },
    
        

        },
    );
</script>
{% endblock %}