{% extends "base/base.html" %}

{% block body %}
{% load static %}
<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Vote</li>
        </ol>
    </nav> 
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card border-bottom border-4 border-0 border-warning">
           <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                 <div>
                    <span>Statut</span>
                 </div>
                 <div>
                    <span class="counter">1er tour</span>
                 </div>
              </div>
           </div>
        </div>
     </div>  
     <div class="col-lg-6 col-md-0">
        <p class="h1 d-flex justify-content-center">Présidentielle 2022</p>
        <p class="h6 d-flex justify-content-center">Votez pour un candidat</p>
     </div> 
    <div class="col-lg-3 col-md-6">
        <div class="card border-bottom border-4 border-0 border-primary">
           <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                 <div>
                    <span>Temps restant pour voter</span>
                 </div>
                 <div>
                    <span>23:59:00</span>
                 </div>
              </div>
           </div>
        </div>
     </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                        <div class="fs-italic">
                            <h5> Nicolas Sarkozy</h5>
                        </div>	
                        <div class="mt-3 text-center text-muted-50">
                            <p>Les républicains</p>
                        </div>
                        <button type="button" class="btn btn-soft-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                        <div class="fs-italic">
                            <h5> Nicolas Sarkozy</h5>
                        </div>	
                        <div class="mt-3 text-center text-muted-50">
                            <p>Les républicains</p>
                        </div>
                        <button type="button" class="btn btn-soft-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                        <div class="fs-italic">
                            <h5> Nicolas Sarkozy</h5>
                        </div>	
                        <div class="mt-3 text-center text-muted-50">
                            <p>Les républicains</p>
                        </div>
                        <button type="button" class="btn btn-soft-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="d-flex flex-column text-center align-items-center justify-content-between ">
                        <div class="fs-italic">
                            <h5> Nicolas Sarkozy</h5>
                        </div>	
                        <div class="mt-3 text-center text-muted-50">
                            <p>Les républicains</p>
                        </div>
                        <button type="button" class="btn btn-soft-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Voter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirmer le vote</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email" class="form-label">Veuillez enter <strong> Nicolas Sarkozy </strong>  afin de valider votre vote</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Nicolas Sarkozy">
                    </div>
                    <div class="text-start">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Voter</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
{% endblock %}