{% extends "base/baselite.html" %}

{% load static %}

{% block body %}
      <div class="wrapper">
      <section class="login-content">
         <div class="row m-0 align-items-center bg-white vh-100">            
            <div class="col-md-6">
               <div class="row justify-content-center">
                  <div class="col-md-10">
                     <div class="card card-transparent shadow-none d-flex justify-content-center mb-0 auth-card">
                        <div class="card-body">
                           <h2 class="mb-2 text-center">Accès à l'élection</h2>
                           <p class="text-center">Rentrez le code de l'élection ainsi que votre adresse mail afin de pouvoir voter</p>
                           <form method = "POST" action="{% url 'entercode' %}">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                       <label for="email" class="form-label">Code de l'élection</label>
                                       <input type="number" name="code" class="form-control" id="code" aria-describedby="code" placeholder=" ">
                                    </div>
                                 </div>
                                 <div class="col-lg-12">
                                    <div class="form-group">
                                       <label for="password" class="form-label">Adresse mail</label>
                                       <input type="email" name="email" class="form-control" id="email" aria-describedby="email" placeholder=" ">
                                    </div>
                                 </div>
                                 {% if status == 0 %}
                                    <p class="text-danger">{{ error }}</p>
                                 {% endif %}
                                 <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Entrer</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 d-md-block d-none bg-primary p-0 mt-n1 vh-100 overflow-hidden">
               <img src="{% static 'base/images/logo-v0.png' %}" class="img-fluid gradient-main animated-scaleX" alt="images">
            </div>
         </div>
      </section>
      </div>
{% endblock %}