<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Smart Vote Lite</title>

      {% load static %}

      <!-- CSS PERSO -->
      <link rel="stylesheet" href="{% static 'Connect/css/style.css' %}">
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'base/images/logo-v0.png' %}">

      
      <!-- Library / Plugin Css Build -->
      <link rel="stylesheet" href="{% static 'base/css/core/libs.min.css' %}">
      
      
      <!-- Hope Ui Design System Css -->
      <link rel="stylesheet" href="{% static 'base/css/hope-ui.min.css' %}">
      
      <!-- Custom Css -->
      <link rel="stylesheet" href="{% static 'base/css/custom.min.css' %}">
      
      <!-- Dark Css -->
      <link rel="stylesheet" href="{% static 'base/css/dark.min.css' %}">
      
      <!-- Customizer Css -->
      <link rel="stylesheet" href="{% static 'base/css/customizer.min.css' %}">
      
      <!-- RTL Css -->
      <link rel="stylesheet" href="{% static 'base/css/rtl.min.css' %}">

      <!-- blobz Css -->
      <link rel="stylesheet" href="{% static 'base/css/blobz.min.css' %}">
      
  </head>
  <body class="  ">
    <span class="screen-darken"></span>
    <!-- loader Start -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body"></div>
      </div>    </div>
    <!-- loader END -->
    <main class="main-content">
      <!--Nav Start-->
      <nav class="nav navbar navbar-expand-xl navbar-light iq-navbar">
        <div class="container-fluid navbar-inner">
          <button data-trigger="navbar_main" class="d-xl-none btn btn-primary rounded-pill p-1 pt-0" type="button">
            <svg width="20px" height="20px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
          </svg>
          </button>
          <div class="col-lg-2 col-lg-3 navbar-brand">
            <a href="/smartvotelite" class="d-flex">
                <!--Logo start-->
                <!-- <svg width="30" class="" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"/>
                    <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor"/>
                    <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor"/>
                    <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor"/>
                </svg> -->
                <img width="40" class="rounded-circle" src="{% static 'base/images/logo-v0.png' %}" alt="">
                <!--logo End-->          <h4 class="logo-title"><strong>Smart Vote</strong> Lite</h4>
            </a>
          </div>
          <!-- Horizontal Menu Start -->
          <nav id="navbar_main" class="mobile-offcanvas nav navbar navbar-expand-xl hover-nav horizontal-nav mx-md-auto">
          <div class="container-fluid">
             <div class="offcanvas-header px-0">
                <div class="navbar-brand ms-0">
                   <!--Logo start-->
                   <svg width="30" class="text-primary" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                       <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"/>
                       <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor"/>
                       <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor"/>
                       <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor"/>
                   </svg>
                   <!--logo End-->         <h4 class="logo-title">Hope UI</h4>
                </div>
                <button class="btn-close float-end"></button>
             </div>
             <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="/smartvotelite"> Accueil </a></li>
                <li class="nav-item"><a class="nav-link " href="/smartvotelite"><span class="item-name">Comment fonctionne SmartVote Lite ?</span></a></li>
             </ul>
          </div> <!-- container-fluid.// -->
          </nav>
          <!-- Sidebar Menu End -->    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon">
                <span class="navbar-toggler-bar bar1 mt-2"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>    
          </button>
          <div class="collapse navbar-collapse col-md-2" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item dropdown">
                <a href="#"  class="nav-link" id="notification-drop" data-bs-toggle="dropdown" >
                    <svg width="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M19.7695 11.6453C19.039 10.7923 18.7071 10.0531 18.7071 8.79716V8.37013C18.7071 6.73354 18.3304 5.67907 17.5115 4.62459C16.2493 2.98699 14.1244 2 12.0442 2H11.9558C9.91935 2 7.86106 2.94167 6.577 4.5128C5.71333 5.58842 5.29293 6.68822 5.29293 8.37013V8.79716C5.29293 10.0531 4.98284 10.7923 4.23049 11.6453C3.67691 12.2738 3.5 13.0815 3.5 13.9557C3.5 14.8309 3.78723 15.6598 4.36367 16.3336C5.11602 17.1413 6.17846 17.6569 7.26375 17.7466C8.83505 17.9258 10.4063 17.9933 12.0005 17.9933C13.5937 17.9933 15.165 17.8805 16.7372 17.7466C17.8215 17.6569 18.884 17.1413 19.6363 16.3336C20.2118 15.6598 20.5 14.8309 20.5 13.9557C20.5 13.0815 20.3231 12.2738 19.7695 11.6453Z" fill="currentColor"></path>
                      <path opacity="0.4" d="M14.0088 19.2283C13.5088 19.1215 10.4627 19.1215 9.96275 19.2283C9.53539 19.327 9.07324 19.5566 9.07324 20.0602C9.09809 20.5406 9.37935 20.9646 9.76895 21.2335L9.76795 21.2345C10.2718 21.6273 10.8632 21.877 11.4824 21.9667C11.8123 22.012 12.1482 22.01 12.4901 21.9667C13.1083 21.877 13.6997 21.6273 14.2036 21.2345L14.2026 21.2335C14.5922 20.9646 14.8734 20.5406 14.8983 20.0602C14.8983 19.5566 14.4361 19.327 14.0088 19.2283Z" fill="currentColor"></path>
                    </svg>
                    <span class="bg-danger dots"></span>
                </a>
                <div class="sub-drop dropdown-menu dropdown-menu-end p-0" aria-labelledby="notification-drop">
                    <div class="card shadow-none m-0">
                      <div class="card-header d-flex justify-content-between bg-primary py-3">
                          <div class="header-title">
                            <h5 class="mb-0 text-white">All Notifications</h5>
                          </div>
                      </div>
                      <div class="card-body p-0">
                          <a href="#" class="iq-sub-card">
                            <div class="d-flex align-items-center">
                                <img class="avatar-40 rounded-pill bg-soft-primary p-1" src="{% static 'base/images/shapes/01.png' %}" alt="">
                                <div class="ms-3 w-100">
                                  <h6 class="mb-0 ">Emma Watson Bni</h6>
                                  <div class="d-flex justify-content-between align-items-center">
                                      <p class="mb-0">95 MB</p>
                                      <small class="float-right font-size-12">Just Now</small>
                                  </div>
                                </div>
                            </div>
                          </a>
                          <a href="#" class="iq-sub-card">
                            <div class="d-flex align-items-center">
                                <div class="">
                                  <img class="avatar-40 rounded-pill bg-soft-primary p-1" src="{% static 'base/images/shapes/02.png' %}" alt="">
                                </div>
                                <div class="ms-3 w-100">
                                  <h6 class="mb-0 ">New customer is join</h6>
                                  <div class="d-flex justify-content-between align-items-center">
                                      <p class="mb-0">Cyst Bni</p>
                                      <small class="float-right font-size-12">5 days ago</small>
                                  </div>
                                </div>
                            </div>
                          </a>
                          <a href="#" class="iq-sub-card">
                            <div class="d-flex align-items-center">
                                <img class="avatar-40 rounded-pill bg-soft-primary p-1" src="{% static 'base/images/shapes/03.png' %}" alt="">
                                <div class="ms-3 w-100">
                                  <h6 class="mb-0 ">Two customer is left</h6>
                                  <div class="d-flex justify-content-between align-items-center">
                                      <p class="mb-0">Cyst Bni</p>
                                      <small class="float-right font-size-12">2 days ago</small>
                                  </div>
                                </div>
                            </div>
                          </a>
                          <a href="#" class="iq-sub-card">
                            <div class="d-flex align-items-center">
                                <img class="avatar-40 rounded-pill bg-soft-primary p-1" src="{% static 'base/images/shapes/04.png' %}" alt="">
                                <div class="w-100 ms-3">
                                  <h6 class="mb-0 ">New Mail from Fenny</h6>
                                  <div class="d-flex justify-content-between align-items-center">
                                      <p class="mb-0">Cyst Bni</p>
                                      <small class="float-right font-size-12">3 days ago</small>
                                  </div>
                                </div>
                            </div>
                          </a>
                      </div>
                    </div>
                </div>
              </li> -->
              <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
                  <a href="{% url 'parametrelite' %}">
                    <button type="button" class="btn btn-primary d-inline-flex">
                      <svg width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                    <path d="M12.0001 8.32739V15.6537" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    <path d="M15.6668 11.9904H8.3335" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6857 2H7.31429C4.04762 2 2 4.31208 2 7.58516V16.4148C2 19.6879 4.0381 22 7.31429 22H16.6857C19.9619 22 22 19.6879 22 16.4148V7.58516C22 4.31208 19.9619 2 16.6857 2Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                </svg>                            
                      <div class="mt-1 ms-2">Créer une élection</div>
                    </button>
                  </a>
                  <a href="{% url 'entercode' %}">
                    <button type="button" class="btn btn-outline-primary d-inline-flex">
                      <svg width="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">                                    <path d="M15.8325 8.17463L10.109 13.9592L3.59944 9.88767C2.66675 9.30414 2.86077 7.88744 3.91572 7.57893L19.3712 3.05277C20.3373 2.76963 21.2326 3.67283 20.9456 4.642L16.3731 20.0868C16.0598 21.1432 14.6512 21.332 14.0732 20.3953L10.106 13.9602" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>                                </svg>                            
                      <div class="mt-1 ms-2">Entrer un code</div>
                    </button>
                  </a>
                </div>
              </div>
            </ul>
          </div>
        </div>
      </nav>      <!--Nav End-->
      <div class="conatiner-fluid content-inner pb-0">
      {% block body %}{% endblock %}
      </div>
      <!-- Footer Section Start -->
      <footer class="footer">
          <div class="footer-body">
              <ul class="left-panel list-inline mb-0 p-0">
                  <li class="list-inline-item"><a href="/smartvotelite">Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="/smartvotelite">Terms of Use</a></li>
              </ul>
              <div class="right-panel">
                  ©2022 Smart Vote, by <a href="/smartvotelite">Les 7 grands corsaires</a>.
              </div>
          </div>
      </footer>
      <!-- Footer Section End -->    </main>
    <!-- Wrapper End-->
    <!-- Library Bundle Script -->
    <script src="{% static 'base/js/core/libs.min.js' %}"></script>
    
    <!-- External Library Bundle Script -->
    <script src="{% static 'base/js/core/external.min.js' %}"></script>
    
    <!-- Widgetchart Script -->
    <script src="{% static 'base/js/charts/widgetcharts.js' %}"></script>
    
    <!-- mapchart Script -->
    <script src="{% static 'base/js/charts/vectore-chart.js' %}"></script>
    <script src="{% static 'base/js/charts/dashboard.js' %}" ></script>
    
    <!-- fslightbox Script -->
    <script src="{% static 'base/js/plugins/fslightbox.js' %}"></script>
    
    <!-- Settings Script -->
    <script src="{% static 'base/js/plugins/setting.js' %}"></script>
    
    <!-- Slider-tab Script -->
    <script src="{% static 'base/js/plugins/slider-tabs.js' %}"></script>
    
    <!-- Form Wizard Script -->
    <script src="{% static 'base/js/plugins/form-wizard.js' %}"></script>
    
    <!-- AOS Animation Plugin-->
    
    <!-- App Script -->
    <script src="{% static 'base/js/hope-ui.js' %}" defer></script>
  </body>
</html>